**Here, I import the libraries that we'll need for all 3 parts of the assignment.**

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import folium
from sklearn.cluster import KMeans
import matplotlib.cm as cm
import matplotlib.colors as colors

** In the next few cells, I will create a data frame based on the table from 
the Wikipedia article. **

In [2]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

soup = BeautifulSoup(source,'lxml')
td_elements = soup.find('table').find_all('td')

content = []
data = []

for el in td_elements:
    content.append(el.text.split('\n')[0])

# Create rough draft of data frame
for j in range(0,len(content),3):
    Postcode = content[j]
    Borough = content[j+1]
    Neighborhood = content[j+2]
    
    # 'Process' if Borough is assigned
    if Borough != 'Not assigned':
    
        # Set Neighborhood to Borough if Neighborhood is not assigned
        if Neighborhood == 'Not assigned':
            Neighborhood = Borough 
    
        data.append({'Postcode':Postcode,'Borough':Borough,'Neighborhood':Neighborhood})
                   
df = pd.DataFrame(data)

print('This is the first 5 rows of the first draft of the dataframe:')
df.head()

This is the first 5 rows of the first draft of the dataframe:

            Borough      Neighborhood Postcode
0        North York         Parkwoods      M3A
1        North York  Victoria Village      M4A
2  Downtown Toronto      Harbourfront      M5A
3  Downtown Toronto       Regent Park      M5A
4        North York  Lawrence Heights      M6A

In [3]:
# Change order of the columns of the data frame to the right order
df = pd.DataFrame([df['Postcode'],df['Borough'],df['Neighborhood']]).T

print('This is the first 5 rows of the second draft of the dataframe:')
df.head()

This is the first 5 rows of the second draft of the dataframe:

  Postcode           Borough      Neighborhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

** Lets streamline the dataframe by grouping neighborhoods with the same postal code together. Then, lets order the rows alphabetically by postal code**

In [4]:
# Group neighborhoods with same postal code together 

# For the loop
i = 1
j = 0

# List of indexes of the rows to be deleted
itd = []

# Group neighborhoods with the same postal code together 
# in the row where the postal code first appears
while (i < len(df)):
    if (df['Postcode'][i] == df['Postcode'][j]):
        df['Neighborhood'][j] = df['Neighborhood'][i] + ', ' + df['Neighborhood'][j]
        itd.append(i)
        i = i + 1
    else:
        i = i + 1
        j = i - 1
        
# Delete redundant rows
df.drop(itd,inplace = True)

# Order rows alphabetically by Postcode
df.sort_values('Postcode',inplace = True)
df.reset_index(drop = True, inplace = True)

print('This is the first 11 rows of the third draft of the data frame')
df.head(11)

This is the first 11 rows of the third draft of the data frame

   Postcode      Borough                                       Neighborhood
0       M1B  Scarborough                                     Malvern, Rouge
1       M1C  Scarborough             Port Union, Rouge Hill, Highland Creek
2       M1E  Scarborough                  West Hill, Morningside, Guildwood
3       M1G  Scarborough                                             Woburn
4       M1H  Scarborough                                          Cedarbrae
5       M1J  Scarborough                                Scarborough Village
6       M1K  Scarborough        Kennedy Park, Ionview, East Birchmount Park
7       M1L  Scarborough                    Oakridge, Golden Mile, Clairlea
8       M1M  Scarborough    Scarborough Village West, Cliffside, Cliffcrest
9       M1N  Scarborough                        Cliffside West, Birch Cliff
10      M1P  Scarborough  Wexford Heights, Scarborough Town Centre, Dors...

In [5]:
print('Number of rows: ', df.shape[0])

Number of rows:  103